<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>
        {% block title %}
        Base block
        {% endblock %}
    </title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">My_Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'index' -%}active{%- endif %}"
                           href="{{ url_for('index') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <h class="nav-link active">User: {{ current_user.username }}</h>
                        {% else %}
                        <a class="nav-link {% if request.endpoint == 'auth_app.login-as' -%}active{%- endif %}"
                           href="{{ url_for('auth_app.login-as') }}">Login</a>
                        <a class="nav-link {% if request.endpoint == 'auth_app.register' -%}active{%- endif %}"
                           href="{{ url_for('auth_app.register') }}">Register</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'users_app.list' -%}active{%- endif %}"
                           href="{{ url_for('users_app.list') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'articles_app.list' -%}active{%- endif %}"
                           href="{{ url_for('articles_app.list') }}">Articles</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth_app.logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    {% block body %}
    Hello base!
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">
</script>
</body>
</html>